* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #674baf;
    background-image: url(bg-desktop.svg);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.header {
    width: 100%;
    height: auto;
    background-image: url(bg-mobile.svg);
    background-size: cover;
    padding: 1rem;
}

.logo {
    max-width: 150px;
    background-size: cover;
    margin-bottom: 2rem;
}

.header-mockup  {
    max-width: 300px;    
    background-size: cover;
}

.description {
    color: #ffff;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.description h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
}

.description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

button {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color:#674baf;
    background-color: #ffff;
    border-radius: 40px;
    border-style: none;
    text-align: center;
    margin-top: 1rem;
    -webkit-box-shadow: 10px 32px 43px 4px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 32px 43px 4px rgba(0,0,0,0.29);
    box-shadow: 10px 32px 43px 4px rgba(0,0,0,0.29);
  
}

.footer {
    
}


/* When the browser is at least 425px and above */
@media screen and (min-width: 425px) {

    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-flow: row;     
    }

   
    .header-mockup  {
        max-width: 600px;    
        margin-top: 3rem;
       
    }

    .description {
        text-align:left;
        padding-left: 1rem;
        margin-right: 3rem;
    }

    .description h1 {
        font-size:2rem;
    }

}

